---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import slide1Picture from "../assets/slide1_picture.png";
import slide2Picture from "../assets/slide2_picture.png";
import slide3Picture from "../assets/slide3_picture.png";
import slide5Picture from "../assets/slide5_picture.png";
import slide6BottomPicture from "../assets/slide6_bottom_picture.png";
import slide6TopPicture from "../assets/slide6_top_picture.png";
import slide6PlazmaPicture from "../assets/slide6_plazma_picture.png";
import slide7BottomPicture from "../assets/slide7_bottom_picture.png";
import slide7TopPicture from "../assets/slide7_top_picture.png";


---

<MainLayout title="O meni" description="Sadrži informacije o kreatoru sajta: ime, datum rođenja, obrazovanje, ideje, omiljena hrana, sportovi, hobiji">
	<div class="banner border">
		<span class="d-flex p-md-5  p-3 space-background banner-graphics">
			<Image style={{
				height:"100%",
				width:"auto",
			}} src={slide1Picture} alt="Opis" />
		</span>
		<span class="d-flex p-md-5  p-3 banner-text">
			<h1>28.05.1879. rođen je naš naučnik Milutin Milanković</h1>
		</span>
	</div>
	<div class="banner border">
		<span class="d-flex p-md-5  p-3 sky-background banner-graphics">
			<Image style={{
				width:"100%",
				height:"auto",
			}} src={slide2Picture} alt="Opis" />
		</span>
		<span class="d-flex p-md-5  p-3 banner-text">
			<h1>116 godina kasnije roda je izNENADila moje roditelje paketićem unutar kog SAM bio JA</h1>
		</span>
	</div>
	<div class="banner border">
		<span class="d-flex p-md-5  p-3 space-background banner-graphics">
			<Image style={{
				width:"100%",
				height:"auto",
			}} src={slide3Picture} alt="Opis" />
		</span>
		<span class="d-flex p-md-5  p-3 banner-text">
			<h1>Nakon 23 godine života odlučio sam da se školujem za VEČITOG STUDENTA</h1>
			<h1>Još samo 71 godina do diplomskog</h1>
		</span>
	</div>
	<div class="banner border">
	<span class="d-flex nature-background banner-graphics" />
	<span class="d-flex p-md-5  p-3 banner-text">
		<h1>Ako odustanem od UČENJA odustao sam od ŽIVOTA</h1>
	</span>
	</div>
	<div class="banner border">
	<span class="d-flex p-md-5  p-3 city-background banner-graphics">
		<Image style={{
			width:"100%",
			height:"auto",
		}} src={slide5Picture} alt="Opis" />
	</span>
	<span class="d-flex p-md-5  p-3 banner-text">
		<h1>Dok ne učim TRČIM</h1>
	</span>
	</div>
	<div class="banner border">
		<span class="d-flex banner-graphics" style={{
			flexDirection:"column",
			position:"relative",
			backgroundColor:"#E5E5E5",
		}}>
			<Image class="banner-image-width" style={{
				
				height:"auto",
				marginLeft:"32px",
				zIndex:"1",
			}} src={slide6TopPicture} alt="Opis" />
			<Image class="banner-image-width" style={{
				
				height:"auto",
				marginLeft:"32px",
				zIndex:"3",
			}} src={slide6BottomPicture} alt="Opis" />
			<Image  class="plazma" style={{
				position:"absolute",
				left:"0",
				zIndex:"2",
				height:"auto",
			}} src={slide6PlazmaPicture} alt="Opis" />
		</span>
		<span class="d-flex p-md-5  p-3 banner-text">
			<h1>Posle jedem MLEKO + PLAZMU</h1>
		</span>
	</div>
	<div class="banner border">
		<span class="d-flex p-md-5  p-3 banner-graphics" style={{
			backgroundColor:"#E5E5E5",
			flexDirection:"column"
		}}>
			<Image class="planet" style={{
				width:"100%",
				height:"auto",
				position:"relative",
			}} src={slide7TopPicture} alt="Opis" />
			<Image style={{
				width:"100%",
				height:"auto",
			}} src={slide7BottomPicture} alt="Opis" />
		</span>
		<span class="d-flex p-md-5  p-3 banner-text">
			<h1>I proučavam MISTERIJE UNIVERZUMA</h1>
		</span>
	</div>
</MainLayout>
